table
{
    background-size: 110%;
    background-image: url("img/18.jpg");
    color: rgb(51, 226, 15);
}
body
{
    background-image: url("img/fondo.jpg");
}

h2
{
    background-color: rgb(102, 146, 146);
}